includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 8
    paths:
        - src
        - tests
        - public
        - bin
        - config
        - database
        - tools
    excludePaths:
        - tests/PHPStan/data
    tmpDir: .phpstan.cache

services:
    -
        class: App\Tools\PHPStan\RequireClassDocblockRule
        tags:
            - phpstan.rules.rule
